<html>
    <head>
        <title> New Tab </title>

        <link href = "{{url_for('static', filename='tab.css')}}" rel = " stylesheet">
        <script src="{{url_for('static', filename='jquery-3.2.1.slim.min.js')}} "></script>
        <script src="{{url_for('static', filename='tab.js')}}"></script>



    </head>
    <body>
        <div id="left-top">
          <div id = "weather">
            <p>weather</p>
          </div>
          <div id = "name">
            <p>name</p>
          </div>
        </div>
        <div id="git-issues">
            <ul>
                <li>penis</li>
                <li>pussy</li>
                <li>ang</li>
                <li>gimothi</li>
                <li>sibal</li>
                <li>yoo doo</li>
                <li>fire eggs</li>
                <li>clit</li>
            </ul>
        </div>
    </body>
</html>
